#cube {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    perspective: 800px;
  }
  
  #cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.8;
    transition: transform 1s;
  }
  
  #cube .front {
    background-color: red;
    transform: rotateY(0deg) translateZ(100px);
  }
  
  #cube .back {
    background-color: blue;
    transform: rotateX(180deg) translateZ(100px);
  }
  
  #cube .right {
    background-color: green;
    transform: rotateY(90deg) translateZ(100px);
  }
  
  #cube .left {
    background-color: yellow;
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  #cube .top {
    background-color: purple;
    transform: rotateX(90deg) translateZ(100px);
  }
  
  #cube .bottom {
    background-color: orange;
    transform: rotateX(-90deg) translateZ(100px);
  }